.example-card-1 {
    background: url('../../../assets/livingroom1.jpeg') center / cover;
}

.example-card-2 {
    background: url('../../../assets/bedroom.jpeg') center / cover;
}

.example-card-2 {
    background: url('../../../assets/garden.jpg') center / cover;
}

.example-card-3 {
    background: url('../../../assets/bedroom.jpeg') center / cover;
}


.example-card-4 {
    background: url('../../../assets/strips.jpeg') center / cover;
}