@import 'sass/main';
.mat-snack-bar-container {
    padding: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div.video-main-container #media-player {
  width: 100% !important;
  padding-top: 0;
}
div.video-list-container {
  padding-top: 1rem;
  width: 100% !important;
}
