.example-card-1 {
    background: url('../../../assets/lock_cabinate.jpg') center / cover;
}

.example-card-2 {
    background: url('../../../assets/lock_cabinate_001.jpg') center / cover;
}

.example-card-3 {
    background: url('../../../assets/door_lock.jpg') center / cover;
}